img {
    width:75px;
}
body {
    background-color: black;
    border-style: double;
    color: white;
}
#credits {
    color: white;
    background-color: green;
    margin: 5px;
}
#NodeData {
    margin: 20px;
    background-color: green;
}

#result_zone strong {
    color: white;
    background-color: black;
    padding: 2px;
}
#banner {
    
    margin-top: 5px
    margin-right: 5px;
    float:right;
    text-align: center;
    color:red;

}